@using c5m._2d6Dungeon;
@inject D6Service D6Service;
@inject IDialogService DialogService;

@rendermode InteractiveServer


<FluentPersona Name="@(Player.Name)" ImageSize="50px" Status="PresenceStatus.Available"
               StatusSize="PresenceBadgeSize.Small" OnClick="@(() => ToggleExtended())"
               Style="width: 100%;">
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="0">
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" Width="100%">
            <FluentLabel Typo="Typography.H3">@Player.Name</FluentLabel>
            <FluentSpacer />
            <FluentLabel Typo="Typography.Body"><b>Level:</b> @Player.Level</FluentLabel>
        </FluentStack>

        @if (!Extented)
        {
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center"
                         HorizontalGap="5">
                <FluentLabel Typo="Typography.Body"><b>HP:</b> @Player.HealthPoints</FluentLabel>
                <FluentSpacer Width="50" />
                <FluentLabel Typo="Typography.Body"><b>XP:</b> @Player.XP</FluentLabel>
            </FluentStack>
        }
    </FluentStack>
</FluentPersona>
@if (Extented)
{
    <FluentStack Orientation="Orientation.Vertical" VerticalGap="5" Width="550px">

        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalGap="5">
            <b>XP:</b>
            <FluentNumberField @bind-Value="@Player.XP" style="width: 100px;" />
            <FluentNumberField @bind-Value="@_xpDelta" Min="1" Placeholder="Add XP" style="width: 80px;" />
            <FluentButton Appearance="Appearance.Accent" OnClick="@AddXp" IconStart="@(new Icons.Filled.Size16.Add())">Add
            </FluentButton>
            <FluentSpacer Width="50" />
            <FluentLabel Typo="Typography.Body"><b>Level:</b>
                <FluentNumberField @bind-Value="@Player.Level" style="width: 80px;" />
            </FluentLabel>
        </FluentStack>

        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom" HorizontalGap="5"
                     Width="100%" Wrap="true">
            <FluentLabel Typo="Typography.Body"><b>Level:</b>HP</FluentLabel>
            <FluentNumberField @bind-Value="@Player.HealthPoints" @bind-Value:after="CheckHealth" style="width: 80px;" />
        </FluentStack>

        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom" HorizontalGap="5"
                         Width="100%" Wrap="true">
                <FluentLabel Typo="Typography.Body"><b>SHIFT </b></FluentLabel> @Player.Shift.ToString()
                <FluentSpacer Width="50" />

                <FluentLabel Typo="Typography.Body"><b>Discipline</b></FluentLabel> @Player.Discipline.ToString()
                <FluentSpacer Width="50" />

                <FluentLabel Typo="Typography.Body"><b>Precision</b></FluentLabel> @Player.Precision.ToString()
            </FluentStack>
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Bottom" HorizontalGap="5"
                         Width="100%" Wrap="true">
                <FluentLabel Typo="Typography.Body"><b>WEAPON</b></FluentLabel>
                <FluentLabel Typo="Typography.Body">@((Player.Weapon?.Name ?? "None"))</FluentLabel>
                <FluentSpacer Width="50" />

                <FluentLabel Typo="Typography.Body"><b>Applied Runes:</b></FluentLabel>
                <FluentLabel Typo="Typography.Body">@Player.AppliedRunes.ToString()</FluentLabel>
            </FluentStack>
        </FluentCard>

            


        
        <FluentCard MinimalStyle="true"  Width="90%">
            <div class="sheetTitle"><b>MANOEUVRES</b></div>
            @if (Player.WeaponManoeuvres != null && Player.WeaponManoeuvres.Count > 0)
            {
                @foreach (var weaponManoeuvre in Player.WeaponManoeuvres)
                {
                    <div>
                        <Manoeuvre manoeuvre="@weaponManoeuvre" />
                    </div>
                }
            }
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%">
            <ArmourPieces armourPiece="@Player.ArmourPieces" OnArmourPiecesChanged="@HandleArmourPiecesChanged" />
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%" >
            <MagicScrolls magicScrolls="@Player.MagicScrolls" OnScrollDeleted="@HandleScrollDeleted" OnScrollAdded="@HandleScrollAdded" />
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%">
            <MagicPotions magicPotions="@Player.MagicPotions" OnPotionDeleted="@HandlePotionDeleted" OnPotionAdded="@HandlePotionAdded" />
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="1">
                <FluentLabel Typo="Typography.Body">LEGEND STATUS LEVEL TRACKER</FluentLabel>
                <FluentSlider Min="0" Max="10" Step="1" @bind-Value="@Player.LegendStatusLevelTracker"
                              Style="width: 200px;">
                    <FluentSliderLabel Position="0">0</FluentSliderLabel>
                    <FluentSliderLabel Position="1">1</FluentSliderLabel>
                    <FluentSliderLabel Position="2">2</FluentSliderLabel>
                    <FluentSliderLabel Position="3">3</FluentSliderLabel>
                    <FluentSliderLabel Position="4">4</FluentSliderLabel>
                    <FluentSliderLabel Position="5">5</FluentSliderLabel>
                    <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    <FluentSliderLabel Position="7">7</FluentSliderLabel>
                    <FluentSliderLabel Position="8">8</FluentSliderLabel>
                    <FluentSliderLabel Position="9">9</FluentSliderLabel>
                    <FluentSliderLabel Position="10">10</FluentSliderLabel>
                </FluentSlider>
            </FluentStack>
        </FluentCard>

        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="25">
                <FluentStack Orientation="Orientation.Horizontal" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="width: 90px;"><b>BLOODIED</b></FluentLabel>
                    <FluentSlider Min="0" Max="8" Step="1" @bind-Value="@Player.Bloodied" Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                        <FluentSliderLabel Position="7">7</FluentSliderLabel>
                        <FluentSliderLabel Position="8">8</FluentSliderLabel>
                    </FluentSlider>
                    <FluentLabel Typo="Typography.Body"><b>FEVER -1 HP</b> per room until washed</FluentLabel>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="width: 90px;"><b>SOAKED</b></FluentLabel>
                    <FluentSlider Min="0" Max="8" Step="1" @bind-Value="@Player.Soaked" Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                        <FluentSliderLabel Position="7">7</FluentSliderLabel>
                        <FluentSliderLabel Position="8">8</FluentSliderLabel>
                    </FluentSlider>
                    <FluentLabel Typo="Typography.Body"><b>PNEUMONIA -1 HP</b> per room until heated</FluentLabel>
                </FluentStack>
            </FluentStack>
        </FluentCard>


        <FluentCard MinimalStyle="true" Width="90%">

            <FluentStack Orientation="Orientation.Horizontal" VerticalGap="5">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                    <div class="sheetTitle"><b>COINS</b></div>
                    @* <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5" Wrap="true"> *@
                    <FluentNumberField Label="Gold" @bind-Value="@Player.Coins.GoldCoins" />
                    <FluentNumberField Label="Silver" @bind-Value="@Player.Coins.SilverCoins" />
                    <FluentNumberField Label="Copper" @bind-Value="@Player.Coins.CupperCoins" />
                    @* </FluentStack> *@
                </FluentStack>

                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body"><b>TREASURE</b></FluentLabel>
                    <FluentTextArea @bind-Value="@Player.Treasures" Rows="7" Resize="TextAreaResize.Both"
                                    Placeholder="Treasure Notes" Style="width: 100%;" />
                </FluentStack>

                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body"><b>LIBERATED PRISONERS</b></FluentLabel>
                    <FluentNumberField @bind-Value="@Player.LiberatedPrisoners" style="width: 100%;" />

                    <FluentLabel Typo="Typography.Body"><b>SIDE QUESTS</b></FluentLabel>
                    <FluentTextArea @bind-Value="@Player.SideQuests" Rows="4" Resize="TextAreaResize.Both"
                                    Placeholder="Side Quests Notes" Style="width: 100%;" />
                </FluentStack>

            </FluentStack>
        </FluentCard>


        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Vertical" VerticalGap="25">
                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 50%;"><b>FAVOUR OF THE GODS</b></FluentLabel>
                    <FluentLabel Typo="Typography.Body"><b>FAVOUR POINTS</b></FluentLabel>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>GRAKADA</b> THE CORE</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Grakada"
                                  Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>INTUNERIC</b> THE MURK</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Intuneric"
                                  Style="width: 200px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>MADUVA</b> THE ROT</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Maduva"
                                  Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>MURATAYNIE</b> THE PULP</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Murataynie"
                                  Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>NEVAZATOR</b> THE BLIND</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Nevazator"
                                  Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>

                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentLabel Typo="Typography.Body" Style="Width: 30%;"><b>RADACINA</b> THE RADIX</FluentLabel>
                    <FluentSlider Min="0" Max="6" Step="1" @bind-Value="@Player.FavorOfTheGods.Radacina"
                                  Style="width: 300px;">
                        <FluentSliderLabel Position="0">0</FluentSliderLabel>
                        <FluentSliderLabel Position="1">1</FluentSliderLabel>
                        <FluentSliderLabel Position="2">2</FluentSliderLabel>
                        <FluentSliderLabel Position="3">3</FluentSliderLabel>
                        <FluentSliderLabel Position="4">4</FluentSliderLabel>
                        <FluentSliderLabel Position="5">5</FluentSliderLabel>
                        <FluentSliderLabel Position="6">6</FluentSliderLabel>
                    </FluentSlider>
                </FluentStack>
            </FluentStack>
        </FluentCard>


        <FluentCard MinimalStyle="true" Width="90%">
            <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body"><b>LARGE AND HEAVY ITEMS</b></FluentLabel>
                    <FluentListbox TOption="int" Width="300px"
                                 Items="@Enumerable.Range(0, LargeAndHeavyItemDisplayItems.Count)"
                                 OptionText="@(i => LargeAndHeavyItemDisplayItems[i])"
                                 @bind-SelectedOption="@_selectedLargeAndHeavyItemIndex">
                    </FluentListbox>
                    <div>
                        <FluentButton Appearance="Appearance.Accent"
                                      OnClick="@OpenEditLargeAndHeavyItemDialog"
                                      IconStart="@(new Icons.Filled.Size16.Edit())"></FluentButton>
                        <FluentButton
                            OnClick="@DeleteSelectedLargeAndHeavyItem"
                            Disabled="@(!CanDeleteSelectedLargeAndHeavyItem())"
                            IconStart="@(new Icons.Filled.Size16.Delete())"></FluentButton>
                    </div>

                    <FluentLabel Typo="Typography.Body"><b>ADDITIONAL NOTES</b></FluentLabel>
                    <FluentTextArea @bind-Value="@Player.AdditionalNotes" Rows="10" Resize="TextAreaResize.Both"
                                    Placeholder="Additional Notes" Style="width: 100%;" />

                    <FluentLabel Typo="Typography.Body"><b>RATIONS</b></FluentLabel>
                    <FluentNumberField @bind-Value="@Player.Rations" Min="0" style="width: 120px;" />
                </FluentStack>

                <FluentStack Orientation="Orientation.Vertical" VerticalGap="5">
                    <FluentLabel Typo="Typography.Body"><b>SMALL ITEMS</b></FluentLabel>
                    <FluentTextArea @bind-Value="@Player.SmallItems" Rows="25" Resize="TextAreaResize.Both"
                                    Placeholder="Small Items Notes" Style="width: 100%;" />

                    <FluentLabel Typo="Typography.Body"><b>LOOT LOCKUP</b></FluentLabel>
                    <FluentTextArea @bind-Value="@Player.LootLockup" Rows="6" Resize="TextAreaResize.Both"
                                    Placeholder="Loot Lockup" Style="width: 100%;" />
                </FluentStack>
            </FluentStack>
        </FluentCard>

        
    </FluentStack>
}

@code {
    [Parameter]
    public required Game.Adventurer Player { get; set; }

    [Parameter]
    public EventCallback<Game.Adventurer> PlayerChanged { get; set; }

    [Parameter]
    public EventCallback OnHealthDepleted { get; set; }

    [Parameter]
    public bool Extented { get; set; } = false;

    [Parameter]
    public bool Editable { get; set; } = false;

    private bool healthDepletionHandled = false;
    private int _xpDelta = 0;
    private int _selectedLargeAndHeavyItemIndex = -1;

    private int SelectedLargeAndHeavyItemIndex => _selectedLargeAndHeavyItemIndex;

    private async Task AddXp()
    {
        if (_xpDelta <= 0) return;
        Player.XP += _xpDelta;
        _xpDelta = 0;
        await PlayerChanged.InvokeAsync(Player);
    }

    private async Task CheckHealth()
    {
        if (Player.HealthPoints <= 0 && !healthDepletionHandled)
        {
            healthDepletionHandled = true;
            await OnHealthDepleted.InvokeAsync();
        }
    }

    private async Task HandlePotionDeleted(int id)
    {
        await PlayerChanged.InvokeAsync(Player);
    }

    private async Task HandlePotionAdded(MagicPotion potion)
    {
        @* Player.MagicPotions ??= new List<MagicPotion>();
        Player.MagicPotions.Add(potion); *@
        await PlayerChanged.InvokeAsync(Player);
        StateHasChanged();
    }

    private async Task HandleArmourPiecesChanged(List<ArmourPiece> pieces)
    {
        await PlayerChanged.InvokeAsync(Player);
        StateHasChanged();
    }

    private async Task HandleScrollDeleted(int id)
    {
        await PlayerChanged.InvokeAsync(Player);
    }

    private async Task HandleScrollAdded(MagicScroll scroll)
    {
        await PlayerChanged.InvokeAsync(Player);
        StateHasChanged();
    }

    private void ToggleExtended()
    {
        Extented = !Extented;
    }

    private async Task OpenEditLargeAndHeavyItemDialog()
    {
        if (SelectedLargeAndHeavyItemIndex < 0)
        {
            return;
        }

        var actualItems = GetActualLargeAndHeavyItems();
        var dialogData = new EditLargeAndHeavyItemDialogData
        {
            Text = SelectedLargeAndHeavyItemIndex < actualItems.Count
                ? actualItems[SelectedLargeAndHeavyItemIndex]
                : string.Empty
        };

        var dialog = await DialogService.ShowDialogAsync<EditLargeAndHeavyItemDialog>(
            dialogData,
            new DialogParameters()
            {
                Title = "Edit Large and Heavy Item",
                PrimaryAction = "Save",
                PrimaryActionEnabled = !string.IsNullOrWhiteSpace(dialogData.Text),
                SecondaryAction = "Cancel",
                Width = "420px",
                Modal = true,
            });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data is EditLargeAndHeavyItemDialogData resultData)
        {
            SetLargeAndHeavyItemText(SelectedLargeAndHeavyItemIndex, resultData.Text);
            await PlayerChanged.InvokeAsync(Player);
        }
    }

    private async Task DeleteSelectedLargeAndHeavyItem()
    {
        if (!CanDeleteSelectedLargeAndHeavyItem())
        {
            return;
        }

        var actualItems = GetActualLargeAndHeavyItems();
        actualItems.RemoveAt(SelectedLargeAndHeavyItemIndex);
        Player.LargeAndHeavyItems = actualItems;
        _selectedLargeAndHeavyItemIndex = -1;
        await PlayerChanged.InvokeAsync(Player);
    }

    private bool CanDeleteSelectedLargeAndHeavyItem()
    {
        var actualItems = GetActualLargeAndHeavyItems();
         return SelectedLargeAndHeavyItemIndex >= 0
             && SelectedLargeAndHeavyItemIndex < actualItems.Count;
    }

    private List<string> GetActualLargeAndHeavyItems()
    {
        return Player.LargeAndHeavyItems?
                   .Where(item => !string.IsNullOrWhiteSpace(item))
                   .ToList()
               ?? new List<string>();
    }

    private List<string> LargeAndHeavyItemDisplayItems
    {
        get
        {
            var actualItems = GetActualLargeAndHeavyItems();
            var displayItems = new List<string>(actualItems);
            for (int i = actualItems.Count; i < 10; i++)
            {
                displayItems.Add($"{i + 1}.");
            }
            return displayItems;
        }
    }

    private void SetLargeAndHeavyItemText(int index, string text)
    {
        if (string.IsNullOrWhiteSpace(text))
        {
            return;
        }

        var actualItems = GetActualLargeAndHeavyItems();
        if (index < actualItems.Count)
        {
            actualItems[index] = text;
        }
        else
        {
            actualItems.Add(text);
        }

        Player.LargeAndHeavyItems = actualItems;
    }

    public void ResetHealthDepletion()
    {
        healthDepletionHandled = false;
    }
}
