@using c5m._2d6Dungeon;
@using System.Text.Json;
@inject D6Service D6Service;
@inject NavigationManager Navigation;

@rendermode InteractiveServer

@if (adventurers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <FluentStack Orientation="Orientation.Vertical">

        <FluentLabel Typo="Typography.Body" Color="@Color.Warning">@errorMessage</FluentLabel>

        <FluentDataGrid Items="@adventurersQueryable" ShowHover="true" TGridItem="AdventurerPreview" OnRowClick="@((args) => SelectPlayer(args.Item!.id))">
            <PropertyColumn Title="Name" Property="@(c => c.name)" Sortable="true"/>
            <PropertyColumn Title="XP" Property="@(c => c.xp.ToString())" Sortable="true"/>
            <PropertyColumn Title="Level" Property="@(c => c.level.ToString())" Sortable="true"/>
            <TemplateColumn Width="60px">  
                <FluentButton @onclick="@(async () => await AdventurerDelete(context!.id))" 
                             IconEnd="@(new Icons.Regular.Size16.Delete())" stopPropagation="true"/>
            </TemplateColumn>
        </FluentDataGrid>
    

        <FluentButton @onclick=CreateNewAdventurer Appearance="Appearance.Accent">New</FluentButton>
    
    </FluentStack>
}

@code {

    private AdventurerPreviewList? adventurers;
    IQueryable<AdventurerPreview>? adventurersQueryable;

    [Parameter] public Game.Adventurer? ParentPlayer {get; set;}

    [Parameter] public EventCallback<Game.Adventurer> ParentPlayerChanged { get; set; }

    private string errorMessage = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        try{
            adventurers = await D6Service.GetAdventurerPreviews();  
            adventurersQueryable = adventurers!.value.AsQueryable();  
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
        }
    }

    
    private void CreateNewAdventurer(MouseEventArgs e)
    {
        Navigation.NavigateTo("adventurer/new");
    }
    private async Task SelectPlayer(int playerId)
    {
        try{
            ParentPlayer = await D6Service.GetAdventurer(playerId);
            await ParentPlayerChanged.InvokeAsync(ParentPlayer);
        }
        catch(Exception ex){
            Console.WriteLine("Oops! --> " + ex.Message);
        }
    }

    private async Task AdventurerDelete(int adventurerId)
    {
        errorMessage = string.Empty;
        try
        {
            var isAdventurerDeleted = await D6Service.AdventurerDelete(adventurerId);
            
            if(isAdventurerDeleted == false)
            {
                errorMessage = "Could not delete adventurer, maybe it is used in a party.";
                return;
            }
            adventurers = await D6Service.GetAdventurerPreviews();
            adventurersQueryable = adventurers!.value.AsQueryable();
            StateHasChanged();
        }
        catch(Exception ex)
        {
            Console.WriteLine("Oops! --> " + ex.Message);
        }
    }
}
